.placeHolderWrapper {
  display: flex;
  height: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.9375rem;

  h1 {
    font-weight: 600;
    font-size: 1.5625rem;
    color: #0f084e;
  }

  @media (max-width: 940px) {
    h1 {
      font-size: 1.375rem;
    }

    svg {
      width: 3.4375rem;
      height: 3.4375rem;
    }
  }
}
