.formTitle {
  display: flex;
  flex-direction: column;
  width: 100%;

  h1,
  p {
    color: #261f5d;
  }

  h1 {
    font-size: 1.875rem;
  }

  p {
    font-size: 1rem;
  }
}

.forgotPasswordForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.25rem;

  .errorField {
    color: rgb(184, 44, 44);
    font-size: 0.875rem;
    text-align: center;
  }

  .updateSuccess {
    color: rgb(18, 122, 18);
    font-size: 1rem;
    text-align: center;
    font-weight: 500;
  }

  .formFields {
    display: flex;
    flex-direction: column;
    gap: 0.9375rem;
  }

  label {
    display: flex;
    color: #261f5d;
    flex-direction: column;
    font-weight: 600;
    gap: 0.3125rem;
    position: relative;

    .floatingText {
      position: absolute;
      transform: translateY(-50%);
      top: 23px;
      left: 15px;
      pointer-events: none;
      transition: all 0.2s ease-in-out;
      color: #b8b8b8;
      font-weight: 400;
    }

    .errorField {
      color: rgb(184, 44, 44);
      font-size: 0.75rem;
      text-align: initial;
    }

    input {
      border-radius: 8px;
      height: 2.8125rem;
      border: 0;
      border: 1px solid #b4b3b3;
      padding: 0.9375rem;

      &.active {
        border: 2px solid #6263fb;
      }

      &:focus ~ .floatingText,
      &.active ~ .floatingText,
      &:active ~ .floatingText {
        top: 0;
        pointer-events: initial;
        font-size: 14px;
        background-color: #f8f9fb;
        width: fit-content;
        color: #261f5d;
        font-weight: 600;
      }
    }
  }

  .updatePassButton {
    padding: 0.75rem;
    background-color: #6263fb;
    color: #fff;
    font-size: 1.125rem;
    text-align: center;
    border-radius: 8px;
    font-weight: 600;

    transition: all 0.2s ease-in-out;

    &:hover {
      opacity: 0.8;
    }

    &:disabled {
      opacity: 0.6;
      cursor: default;
    }
  }

  .forgotPassButton {
    color: #6263fb;
    font-weight: 600;
    font-size: 0.875rem;
    width: fit-content;

    &:hover {
      text-decoration: underline;
    }
  }

  .registerNow {
    font-size: 0.875rem;
    color: #261f5d;
    font-weight: 500;

    button {
      color: #6263fb;
      font-weight: 600;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .closeModalButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    button {
      width: fit-content;
      border: 2px solid #6263fb;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      width: 2.375rem;
      height: 2.375rem;
      align-items: center;
      transition: all 0.2s ease-in-out;

      svg {
        transition: all 0.2s ease-in-out;
      }

      &:hover {
        background-color: #6263fb;
        transform: scale(1.2);

        svg {
          stroke: #fff;
        }
      }
    }
  }
}
